body,
html,
.app {
    background-color: var(--cl-s) !important;
    color: #FFFFFF;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: rgba(255, 255, 255, .1);
    scrollbar-width: thin
}

* {
    box-sizing: border-box;
}

.terms {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 20px
}

.terms h1,
.terms h2,
.terms h3,
.terms p,
.terms li,
.terms ul {
    list-style-type: none
}


.highlight {
    /*font-family: Chivo, sans-serif, ui-sans-serif;*/
    box-shadow: inset 0 -.425em rgba(106, 187, 30, 0.75);
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.background {
    transition: .1s ease-in;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 100%;
}

.background .background-image {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("/assets/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right
}


@media screen and (max-width: 922px) {

    .background .background-image-animation,
    .background .background-image-animation-2 {
        display: none
    }

;
}

.centerv {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.centerh {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.landingpage {
    margin-top: 100px;
    width: 50%;
    height: auto;
    z-index: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 10%;;
}

.landingpage .header {
    width: 80%;
    display: flex;
    flex-direction: column
}

.landingpage .header h3 {
    font-size: 17px;
    color: var(--cl-2);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px
}

.landingpage .header h1 {
    color: var(--cl-1);
    font-size: 45px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px
}

.landingpage .content {
    width: 80%;
    display: flex
}

.landingpage .content p {
    color: var(--cl-2);
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    width: 70%;
    margin-bottom: 20px
}

.landingpage .end {
    width: 80%;
    display: flex;
    flex-direction: column
}

.landingpage .end .a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 250px;
    height: 48px;
    background-color: var(--cl-1);
    color: var(--bg-2);
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6.5px
}

.landingpage .end .a .dclogo {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.landingpage .end .b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    min-width: 250px;
    transform: rotate(180deg);
    margin-top: 10px
}

.landingpage .end .b img {
    width: 30px;
    margin: 40px 0;
    animation: floatarrow 1.5s ease-in-out infinite
}

@media screen and (max-width: 800px) {
    .background .background-image {
        background-position: center
    }

    .landingpage {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 120px
    }

    .centerh {
        justify-content: center
    }

    .landingpage .header,
    .landingpage .content,
    .landingpage .end {
        width: 90%;
        justify-content: center;
        align-items: center
    }

    .landingpage .content p {
        text-align: center;
        width: 90%
    }

    .landingpage .header h1 {
        font-size: 30px
    }

;
}

.featurescenter {
    width: 100%;
    height: auto;
    top: 100%;
    background-color: #202225;
    padding-bottom: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0 0
}

.features {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center
}

.featurescenter .bodyhead {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px
}

.featurescenter .bodyhead .headline {
    width: 20%;
    max-width: 200px;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .5);
}

.features .featuresgeneral {
    flex-direction: column;
    display: flex;
    width: 90%;
    height: auto;
    position: relative
}

.features .featuresgeneral .allareas .areasleft {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    justify-content: center
}

.features .featuresgeneral .allareas .areasright {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.features .featuresgeneral .allareas {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative
}

.features .featuresgeneral .allareas .areasright img {
    width: 100%;
}

.features .featuresgeneral .allareas .areasleft h3 {
    margin: 5px 0;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 70%;
}

.features .featuresgeneral .allareas .areasleft h1 {
    margin: 10px 0;
    font-weight: 900;
    font-size: 35px;
    color: #FFFFFF;
    max-width: 75%;
}

.features .featuresgeneral .allareas .areasleft p {
    margin: 10px 0;
    color: #e2e2e2;
    font-weight: 400;
    font-size: 17px;
    max-width: 90%;
}

.features .featuresgeneral .allareas .areasleft a {
    margin-top: 20px;
    width: 50%;
    height: 48px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, .1);
    align-items: center;
    justify-content: center;
    border-radius: 6.5px;
    transition: .1s ease-in
}

.features .featuresgeneral .allareas .areasleft a:hover {
    opacity: 50%;
    transition: .1s ease-in
}

.features .featuresgeneral .allareas .areasleft a div {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center
}

.features .featuresgeneral .allareas .areasleft a div img {
    width: 25px;
    height: 25px;
    margin-right: 10px
}

.features .reversefeature .allareas {
    flex-direction: row-reverse
}

.features .reversefeature .allareas .areasleft {
    margin-right: 0
}

.features .reversefeature .allareas .areasright {
    margin-left: 5%;
}

.features .featuresgeneral .bottomdashline {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.features .featuresgeneral .bottomdashline .dashedline {
    border-right: 4px dashed rgba(255, 255, 255, .1);
    height: 100px;
    width: 1px;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.features .reversefeature .bottomdashline {
    justify-content: flex-end
}

.features .reversefeature .bottomdashline .dashedline {
    margin-left: 0;
    margin-right: 10%;
}

@media screen and (max-width: 1030px) {
    .features .reversefeature .bottomdashline {
        justify-content: center
    }

    .features .reversefeature .bottomdashline .dashedline {
        margin-right: 0
    }

    .features .featuresgeneral .bottomdashline {
        justify-content: center
    }

    .features .featuresgeneral .bottomdashline .dashedline {
        margin-left: 0
    }

    .features .featuresgeneral .allareas {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .features .featuresgeneral .allareas .areasleft {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px
    }

    .features .featuresgeneral .allareas .areasright {
        width: 90%;
        max-width: 400px;
        align-items: center;
        justify-content: center;
        margin: 0
    }

    .features .featuresgeneral .allareas .areasleft a {
        width: 100%
    }

    .features .featuresgeneral .allareas .areasleft h3,
    .features .featuresgeneral .allareas .areasleft h1,
    .features .featuresgeneral .allareas .areasleft p {
        text-align: center;
        max-width: 100%
    }

    .features .reversefeature .allareas .areasleft {
        margin-right: 5%
    }

    .features .reversefeature .allareas .areasright {
        margin-left: 0
    }

;
}

.support {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    background-color: var(--bg-2);
    flex-direction: row;
    padding: 20px 0
}

.supportgeneral {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.support .supportleft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 5%;
}

.support .supportright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin-left: 20px
}

.support .supportleft p {
    color: #e2e2e2;
    font-size: 17px;
    font-weight: 400;
    margin: 0
}

.support .supportright button {
    width: 250px;
    height: 48px;
    background-color: #2d7d46;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    border-radius: 6.5px;
    transition: .1s ease-in;
    border: none
}

.support .supportright button:hover {
    opacity: 50%;
    transition: .1s ease-in;
    cursor: pointer
}

@media screen and (max-width: 700px) {
    .supportgeneral {
        flex-direction: column
    }

    .support .supportright {
        margin-left: 0;
        margin-top: 20px
    }

    .support .supportleft p {
        text-align: center
    }

;
}

.allfeatures {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center
}

.allfeatures .centerallfeatures {
    width: 90%;
    height: auto;
    padding: 50px 50px 0;
    display: flex;
    flex-direction: row
}

.allfeatures .centerallfeatures .rightarea {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.allfeatures .centerallfeatures .leftarea {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.allfeatures .centerallfeatures .leftarea h1,
h2 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 35px;
    text-align: left;
    margin: 0
}

.allfeatures .centerallfeatures .leftarea img {
    width: 100%;
}

.allfeatures .centerallfeatures .leftarea a {
    margin-top: 20px;
    width: 100%;
    height: 48px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--cl-s);
    align-items: center;
    justify-content: center;
    border-radius: 6.5px;
    transition: .1s ease-in
}

.allfeatures .centerallfeatures .leftarea #explore {
    height: 64px
}

.allfeatures .centerallfeatures .leftarea a:hover {
    opacity: 50%;
    transition: .1s ease-in
}

.allfeatures .centerallfeatures .leftarea a div {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center
}

.allfeatures .centerallfeatures .leftarea a div img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transform: rotate(180deg);
}

.allfeatures .centerallfeatures .rightarea .rows {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 5%;
}

.allfeatures .centerallfeatures .rightarea .rowtwo {
    margin-bottom: 0
}

.allfeatures .centerallfeatures .rightarea .areasstart,
.allfeatures .centerallfeatures .rightarea .areasend {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto
}

.allfeatures .centerallfeatures .rightarea .header {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.allfeatures .centerallfeatures .rightarea .header img {
    width: 20px;
    height: 20px
}

.allfeatures .centerallfeatures .rightarea h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin: 10px 0
}

.allfeatures .centerallfeatures .rightarea p {
    margin: 0;
    font-size: 15px;
    color: #e3e3e3;
    text-align: left;
    font-weight: 400;
    max-width: 80%;
}

@media screen and (max-width: 500px) {
    .allfeatures .centerallfeatures .rightarea .rows {
        flex-direction: column;
        margin-bottom: 0
    }

    .allfeatures .centerallfeatures .rightarea .areasstart,
    .allfeatures .centerallfeatures .rightarea .areasend {
        width: 100%;
        margin-bottom: 30px
    }

    .allfeatures .centerallfeatures .rightarea p {
        max-width: 100%
    }

;
}

@media screen and (max-width: 940px) {
    .allfeatures .centerallfeatures {
        flex-direction: column
    }

    .allfeatures .centerallfeatures .rightarea {
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center
    }

    .allfeatures .centerallfeatures .rightarea .areasstart,
    .allfeatures .centerallfeatures .rightarea .areasend {
        align-items: center;
        justify-content: center
    }

    .allfeatures .centerallfeatures .leftarea {
        width: 100%;
        margin: 0;
        align-items: center
    }

    .allfeatures .centerallfeatures .leftarea img {
        width: 70%
    }

    .allfeatures .centerallfeatures .leftarea h1,
    h2 {
        text-align: center
    }

    .allfeatures .centerallfeatures .rightarea p {
        max-width: 95%;
        text-align: center
    }

    .allfeatures .centerallfeatures .leftarea a {
        margin-bottom: 10%;
        max-width: 70%
    }

;
}

.morefeature {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center
}

.morefeature .centermorefeature {
    width: 90%;
    height: auto;
    display: flex;
    padding: 50px 0
}

.morefeature .centermorefeature .leftarea {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 2%;
}

.morefeature .centermorefeature .rightarea {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 5%;
}

.line3 {
    width: 100%;
    height: 1.5px;
    background-color: #37383a;
    margin-top: 32px;
    margin-bottom: 32px
}

.morefeature .centermorefeature .leftarea p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e2e2e2;
    font-size: 17px;
    font-weight: 400
}

.morefeature .centermorefeature .leftarea .addto,
.morefeature .centermorefeature .leftarea .seeall {
    width: 100%;
    height: 48px;
    margin-top: 32px;
    background-color: var(--cl-s);
    border-radius: 6.5px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in
}

.morefeature .centermorefeature .leftarea .addto {
    margin-top: 20px
}

.morefeature .centermorefeature .leftarea .addto:hover {
    opacity: 50%;
    transition: .1s ease-in
}

.morefeature .centermorefeature .leftarea .addto div,
.morefeature .centermorefeature .leftarea .seeall div {
    display: flex;
    justify-content: center;
    align-items: center
}

.morefeature .centermorefeature .leftarea .addto div img,
.morefeature .centermorefeature .leftarea .seeall div img {
    width: 20px;
    height: auto;
    margin-right: 10px
}

.morefeature .centermorefeature .leftarea .seeall {
    background-color: rgba(255, 255, 255, .1);
}

.morefeature .centermorefeature .leftarea .seeall:hover {
    opacity: 50%;
    transition: .1s ease-in
}

.morefeature .centermorefeature .leftarea .stats {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.morefeature .centermorefeature .leftarea .stats .sta1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.morefeature .centermorefeature .leftarea .stats .middle {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.morefeature .centermorefeature .leftarea p {
    font-size: 12px;
    font-weight: 500;
    color: #afafaf;
    margin: 0
}

.morefeature .centermorefeature .leftarea h1,
.morefeature .centermorefeature .rightarea h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 35px;
    margin: 0
}

.morefeature .centermorefeature .leftarea .stats h1 {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 900;
    margin-top: 8px;
    margin-bottom: 8px
}

.morefeature .centermorefeature .rightarea .faq {
    margin-top: 20px;
    background-color: var(--bg-2);
    border-radius: 6.5px;
    overflow: hidden
}

.morefeature .centermorefeature .rightarea .faq .areastop {
    width: 100%;
    height: auto;
    display: flex
}

.morefeature .centermorefeature .rightarea .faq .areasbottom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center
}

.morefeature .centermorefeature .rightarea .faq .areasbottom p {
    margin: 30px 20px;
    color: #e2e2e2;
    font-size: 17px;
    text-align: left;
    font-weight: 400
}

.morefeature .centermorefeature .rightarea .faq .accordion {
    -moz-transition: height .2s;
    -ms-transition: height .2s;
    -o-transition: height .2s;
    -webkit-transition: height .2s;
    transition: height .2s;
    height: 0;
    overflow: hidden
}

.morefeature .centermorefeature .rightarea .faq .areastop .areasleft {
    width: 80%;
    height: auto;
    display: flex
}

.morefeature .centermorefeature .rightarea .faq .areastop .areasright {
    width: 20%;
    height: auto;
    display: flex
}

.morefeature .centermorefeature .rightarea .faq .areastop .areasright button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 0 6.5px 6.5px 0;
    cursor: pointer;
    border: none
}

.morefeature .centermorefeature .rightarea .faq .areastop .areasright button:hover {
    background-color: rgba(0, 0, 0, .1);
    transition: .1s
}

.morefeature .centermorefeature .rightarea .faq .areastop .areasright button .icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.morefeature .centermorefeature .rightarea .faq .areastop .areasright button .icon .i1 {
    width: 100%;
    height: 1.5px;
    background-color: #FFFFFF;
    border-radius: .2px
}

.morefeature .centermorefeature .rightarea .faq .areastop .areasright button .icon .i2 {
    width: 1.5px;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: .2px
}

.morefeature .centermorefeature .rightarea .faq .areastop p {
    color: #e2e2e2;
    margin: 30px 20px;
    text-align: left;
    font-weight: 400;
    font-size: 17px
}

.activated {
    display: none
}

@media screen and (max-width: 1040px) {
    .morefeature .centermorefeature {
        flex-direction: column;
        margin: 0 5%;
        align-items: center
    }

    .morefeature .centermorefeature .leftarea {
        width: 90%;
        align-items: center;
        text-align: center;
        padding: 0
    }

    .morefeature .centermorefeature .rightarea {
        width: 90%;
        align-items: center;
        text-align: center;
        padding: 0
    }

    .morefeature .centermorefeature .rightarea .faq {
        width: 100%
    }

    .activated {
        display: block
    }
}