.areaa {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: +1;
}

.navbar {
    width: 60%;
    height: 60px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: var(--bg-2);
    border-radius: 100px;
    position: absolute;
    display: flex;
}

.responsivenavbar {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    position: absolute;
    display: flex;
}

.responsivenavbar .rightarea {
    height: 100%;
    width: 50%;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.responsivenavbar .rightarea a {
    width: auto;
    height: auto;
}

.line_1,
.line_2,
.line_3 {
    width: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 0.8px;
}

.responsivenavbar .burgericon {
    margin-right: 40px;
    transition: 100ms ease-in;
}

.responsivenavbar .burgericon:hover {
    cursor: pointer;
    opacity: 50%;
    transition: 100ms ease-in;
}

.responsivenavbar .leftarea {
    width: 20%;
}

.responsivenavbar .leftarea a {
    width: auto;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.responsivenavbar .leftarea .leftlogo,
.responsivenavbar .leftarea .lefttextlogo {
    width: auto;
    height: 65%;
}

.responsivenavbar .leftarea .lefttextlogo {
    display: none;
}

.navbar .leftarea a {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .leftarea .leftlogo {
    display: flex;
    align-items: center;
    margin-left: 7px;
    border-radius: 50%;
    width: 48px;
    height: 48px
}

.navbar .rightarea {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.responsivenavbar .rightarea .invitebutton {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    height: 85%;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 6.5px;
    background-color: var(--cl-s);
    margin-right: 30px;
    border: 0px;
}

.navbar .rightarea .invitebutton {
    height: 70%;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50px;
    background-color: var(--cl-s);
    border: 0px;
    margin-right: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
}

.responsivenavbar .rightarea .invitebutton:hover,
.navbar .rightarea .invitebutton:hover {
    transition: 0.1s;
    opacity: 80%;
    cursor: pointer;
}

.navbar .middlearea {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .middlearea a {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    margin-right: 2.5%;
    margin-left: 2.5%;
    text-decoration: none;
}

.navbar .middlearea a:hover {
    text-decoration: underline;
}


.responsivemenu {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: +4;
    top: 0;
    display: none;
}

.responsivemenu .menuback {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.responsivemenu .menuback .indexmenu {
    background-color: var(--bg-2);
    width: 330px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
}


.responsivemenu .menuback .indexmenu .headlogo {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    margin: 0 40px;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadleft {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadleft a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadright {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadright .closemenu {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 100ms ease-in;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadright .closemenu:hover {
    transition: 100ms ease-in;
    opacity: 50%;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadright .closemenu .closemenui1 {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--cl-1);
    transform: rotate(45deg);
    border-radius: 0.8px;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadright .closemenu .closemenui2 {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--cl-1);
    transform: rotate(-45deg);
    border-radius: 0.8px;
}

.responsivemenu .menuback .indexmenu .headlogo .menuheadleft a img {
    height: 39.2%;
    width: auto;
}

.responsivemenu .menuback .indexmenu .ln {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.responsivemenu .menuback .indexmenu .ln .menuline {
    width: calc(100% - 80px);
    height: 1px;
    background-color: rgba(255, 255, 255, .1)
}

.responsivemenu .menuback .indexmenu .menuitems {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.responsivemenu .menuback .indexmenu .menuitems a {
    text-decoration: none;
    padding: 18px 8px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
}

.responsivemenu .menuback .indexmenu .menuitems a:hover {
    text-decoration: underline;
}

.responsivemenu .menuback .indexmenu .bottommenu {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 40px;
    position: relative;
    top: 0px;
}

.responsivemenu .menuback .indexmenu .bottommenu button {
    width: calc(100% - 80px);
    height: 48px;
    cursor: pointer;
    background-color: var(--cl-s);
    border: none;
    border-radius: 6.5px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    transition: 100ms ease-in;
    margin-top: 18px;
}

.responsivemenu .menuback .indexmenu .bottommenu button:hover {
    transition: 100ms ease-in;
    opacity: 50%;
}

/*responsive*/
@media screen and (max-width: 1150px) {
    .navbar .leftarea a {
        display: none;
    }

    .navbar {
        width: 75%;
        margin-right: 0px;
    }

    .responsivenavbar .leftarea a {
        display: flex;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        display: none;
    }

    .areaa {
        height: 100px;
        background-color: var(--bg-2)
    }

    .responsivenavbar .leftarea {
        width: 50%;
    }

    .responsivenavbar .leftarea a {
        width: 190px;
        justify-content: flex-start;
        margin-left: 40px;
    }

    .responsivenavbar .leftarea .leftlogo {
        display: none;
    }

    .responsivenavbar .leftarea .lefttextlogo {
        display: flex;
    }

    .responsivenavbar .rightarea {
        display: flex;
    }

    .responsivemenu .menuback .indexmenu .bottommenu {
        display: none;
    }
}

@media screen and (max-width: 488px) {
    .responsivenavbar .leftarea .lefttextlogo {
        height: 65%;
    }

    .responsivenavbar .rightarea .invitebutton {
        display: none;
    }

    .areaa {
        height: 100px;
        position: fixed;
    }

    .responsivemenu .menuback .indexmenu .bottommenu {
        display: flex;
    }
}