img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none
}

.modalcontent {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.modalcontent::-webkit-scrollbar {
    display: none
}

.modaliban:hover {
    cursor: pointer
}

.modalbutton:hover,
.modalindexaddtodiscord:hover {
    cursor: pointer;
    opacity: 50%;
    transition: .1s ease-in
}

html {
    font-family: "Inter", sans-serif
}

::-webkit-scrollbar {
    width: 11px
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 2px
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar-track-piece {
    background-color: #18191c
}

@keyframes zoomIn {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0
    }

    10% {
        opacity: 1
    }

    90% {
        opacity: 1;
        transform: translateY(0px)
    }

    99% {
        opacity: 0;
        transform: translateY(-30px)
    }

    100% {
        opacity: 0
    }
}

@keyframes spinElement {
    0% {
        transform: scale(0) rotate(1deg)
    }

    50% {
        transform: scale(1) rotate(180deg)
    }

    90% {
        transform: scale(0) rotate(360deg)
    }

    100% {
        transform: scale(0)
    }
}

@keyframes faqOpen {
    0% {
        transform: rotate(0deg)
    }

    99% {
        opacity: 0%;
        transform: rotate(90deg)
    }

    100% {
        display: none
    }
}

.openFaqAnimation {
    animation: faqOpen .2s linear
}

.spin {
    animation: spinElement 3s linear infinite
}

.fadeout {
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.fadein {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 50ms;
    animation-duration: 50ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animation {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.pageloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #202225;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2
}

.pageloadercenter {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative
}

.loader {
    border: 4px solid #fff;
    border-top: 4px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center
}

.loaderlogo {
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center
}

.loaderlogo img {
    width: 30%;
    position: relative;
    display: none
}

.loadingtext {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.loadingtext h1 {
    color: #fff;
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center
}

.loadingtext p {
    color: #e2e2e2;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    text-align: center
}

@keyframes float {
    0% {
        transform: translatey(0px)
    }

    50% {
        transform: translatey(-10px)
    }

    100% {
        transform: translatey(0px)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes floatarrow {
    0% {
        transform: translatey(0px)
    }

    25% {
        transform: translatey(-20px)
    }

    50% {
        transform: translatey(0px)
    }

    75% {
        transform: translatey(-7.5px)
    }

    100% {
        transform: translatey(0px)
    }
}

@keyframes runProgress {
    0% {
        width: 0;
        background: rgba(255, 255, 255, .3)
    }

    100% {
        width: 96%;
        background: rgba(255, 255, 255, 1)
    }
}

:root {
    --bg-1: #202225;
    --bg-2: #18191c;
    --cl-1: #fff;
    --cl-2: #e2e2e2;
    --cl-s: #2d7d46;
}